<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% if (theme.favicon){ %>
        <link rel="icon" href="<%- theme.favicon %>" type=" image/png">
    <% } %>
    <title><%= config.title %></title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <%- css('mdb/css/bootstrap.min.css') %>
    <!-- Material Design Bootstrap -->
    <%- css('mdb/css/mdb.min.css') %>
    <!-- Your custom styles (optional) -->
    <% if(is_post()){ %>
    <%- css('css/post.css') %>
    <%}else{%>
    <%- css('css/layout.css') %>
    <%}%>
</head>

<body>

    <!-- Start your project here-->
    <% if(is_home()){ %>
    <!--Navbar-->
    <nav style="opacity: .8;" class="navbar navbar-toggleable-md fixed-top navbar-light white">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="<%- url_for('/') %>">
                <strong>ningyixiao</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="<%- url_for(config.archive_dir) %>" class="nav-link">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            归档
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            关于我
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <% }else{ %>
    <header class="header-wrap">
        <div class="container" style="padding: 0;">
            <div class="return_btn"><i data-url="<%- url_for(site.url) %>" class="fa fa-times" aria-hidden="true"></i></div>
        </div>
    </header>
    <% } %>
    <!-- for different templates -->
    <%- body %>
    <!--Footer-->
    <footer class="container footer-wrap">
        <span>© 2017 Ning Yixiao</span> 
        <span style="padding: 0 .5em;">|</span> 
        <a href="https://www.MDBootstrap.com">MDBootstrap</a>
        <span style="padding: 0 .1em;">&</span>
        <a href="https://hexo.io">hexo</a>
    </footer>
    <!--/.Footer-->

    <!-- /Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <%- js('mdb/js/jquery-3.1.1.min.js') %>
    <!-- Bootstrap tooltips -->
    <%- js('mdb/js/tether.min.js') %>
    <!-- Bootstrap core JavaScript -->
    <%- js('mdb/js/bootstrap.min.js') %>
    <!-- MDB core JavaScript -->
    <%- js('mdb/js/mdb.min.js') %>
    <!-- Your JavaScript -->
    <%- js('js/layout.js') %>
</body>

</html>
