<div data-url="<%- url_for(post.path) %>" class="list-group-item has-box-shadow">
    <h4 class="article-title"><%= post.title %></h4> 
    <div class="abstract-wrap"><%- post.excerpt %></div>
    <div class="article-info">
       <span>日期：<%- date(post.date, 'YYYY-MM-DD') %></span>
       <% if(post.categories.length !== 0) {%>
       <span>分类：<% post.categories.forEach(function(category,index){if(index == post.categories.length-1){%><%= category.name %><% }else{ %><%- category.name+'&nbsp;' %><%}})%> 
       </span>
       <%}%>
       <% if(post.tags.length !== 0) {%>
       <span>标签：<% post.tags.forEach(function(tag,index){if(index == post.tags.length-1){%><%= tag.name %><% }else{ %><%- tag.name+'&nbsp;' %><%}})%> 
       </span>
       <%}%>
    </div>
</div>